.aperture-prime {
  background: url("/img/events/clubs/aperture/prime.jpg");
  background-position: center;
  background-size: cover;
}

.event-next__aperture {
  background: #ff5722;
}

.event-image__focus {
  background-image: url("/img/events/clubs/aperture/focus.jpeg") !important;
}

.event-image__shutterup {
  background-image: url("/img/events/clubs/aperture/shutterup.jpeg") !important;
}

.event-image__instaperture {
  background-image: url("/img/events/clubs/aperture/instaperture.jpeg") !important;
}

.event-image__showdownofsocieties {
  background-image: url("/img/events/clubs/aperture/showdown.jpeg") !important;
}

.event-image__pictureperfect {
  background-image: url("/img/events/clubs/aperture/pictureperfect.png") !important;
}

.event-image__powershoot {
  background-image: url("/img/events/clubs/aperture/powershoot.jpeg") !important;
}