.cinefilia-prime {
  background: url("/img/events/clubs/cinefilia/prime.jpg");
  background-position: center;
  background-size: cover;
}

.event-next__cinefilia {
  background: #ffb300;
}

.event-image__admak {
  background-image: url("/img/events/clubs/cinefilia/admak.jpg") !important;
}

.event-image__awaaz {
  background-image: url("/img/events/clubs/cinefilia/awaaz.jpg") !important;
}

.event-image__humorus {
  background-image: url("/img/events/clubs/cinefilia/humorus.jpg") !important;
}

.event-image__missionimpossible {
  background-image: url("/img/events/clubs/cinefilia/missionimpossible.jpg") !important;
}

.event-image__pandorasbox {
  background-image: url("/img/events/clubs/cinefilia/pandorasbox.jpg") !important;
}

.event-image__rangmanch {
  background-image: url("/img/events/clubs/cinefilia/rangmanch.jpg") !important;
}

.event-image__spoofydo {
  background-image: url("/img/events/clubs/cinefilia/spoofydo.jpg") !important;
}

.event-image__monoact {
  background-image: url("/img/events/clubs/cinefilia/monoact.jpg") !important;
}