.litmus-prime {
  background: url("/img/events/clubs/litmus/prime.jpg");
  background-position: center;
  background-size: cover;
}

.event-next__litmus {
  background: #303f9f;
}
.event-image__bamboozled {
  background-image: url("/img/events/clubs/litmus/bamboozled.jpg") !important;
}
.event-image__ekphrasis {
  background-image: url("/img/events/clubs/litmus/ekphrasis.jpg") !important;
}

.event-image__jam {
  background-image: url("/img/events/clubs/litmus/jam.jpg") !important;
}

.event-image__debate {
  background-image: url("/img/events/clubs/litmus/debate.jpg") !important;
}

.event-image__pictionary {
  background-image: url("/img/events/clubs/litmus/pictionary.jpg") !important;
}

.event-image__songsmith {
  background-image: url("/img/events/clubs/litmus/songsmith.jpg") !important;
}

.event-image__poparazzi {
  background-image: url("/img/events/clubs/litmus/poparazzi.jpeg") !important;
}

.event-image__voiceover {
  background-image: url("/img/events/clubs/litmus/voiceover.jpg") !important;
}
