.qureka-prime {
  background: url("/img/events/clubs/qureka/prime.jpg");
  background-position: center;
  background-size: cover;
}

.event-next__qureka {
  background: #ff5722;
}
.event-image__ignited {
  background-image: url("/img/events/clubs/qureka/ignited.jpg") !important;
}
.event-image__poparazzi {
  background-image: url("/img/events/clubs/qureka/poparazzi.jpg") !important;
}
.event-image__sadharan {
  background-image: url("/img/events/clubs/qureka/sadharan.jpg") !important;
}
