.tmc-prime {
  background: url("/img/events/clubs/tmc/prime.jpg");
  background-position: center;
  background-size: cover;
}

.event-next__tmc {
  background: #c62828;
}

.event-image__woodstock {
  background-image: url('/img/events/clubs/tmc/woodstock.jpg') !important;
}

.event-image__beatstreet {
  background-image: url('/img/events/clubs/tmc/beatstreet.jpg') !important;
}

.event-image__dhwani {
  background-image: url('/img/events/clubs/tmc/dhwani.jpg') !important;
}

.event-image__ensemble {
  background-image: url('/img/events/clubs/tmc/ensemble.jpg') !important;
}

.event-image__octaves {
  background-image: url('/img/events/clubs/tmc/octaves.jpg') !important;
}

.event-image__saptak {
  background-image: url('/img/events/clubs/tmc/saptak.jpg') !important;
}

.event-image__twicethevoice {
  background-image: url('/img/events/clubs/tmc/twicethevoice.jpg') !important;
}

.event-image__songsmith {
  background-image: url('/img/events/clubs/tmc/songsmith.jpg') !important;
}