#particles {
  width: 100%;
  height: 100%;
}

#mext {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 100;
  cursor: pointer;

  p {
    display: inline-block;
    color: $color-white;
    transform: translateY(-1rem);
    font-size: 1.2rem;
  }

  img {
    width: 8rem;
  }
}

#fest-date {
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
  color: $color-white;
  font-size: 1.8rem;
  font-family: "Gotham-Thin";
  z-index: 100;
}

#funzone {
  position: absolute;
  left: 3rem;
  top: 48%;
  transform: translate(-50%) rotate(90deg);

  a {
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;

    padding: 2.5rem 3rem;
    transition: 0.2s all;
    background: linear-gradient(120deg,
      transparent,
      transparent 50%,
      #fff 0);
    background-size: 200%;

    @media screen and (max-width: 800px) {
      background-position: 100%;
      color: $color-primary;
    }

    &:hover {
      background-position: 100%;
      color: $color-primary;
    }
  }
}