.btn-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 2rem;
  height: 100%;
}

.arcade-button {
  outline: none;
  border: none;
  border-radius: 40px;
  padding: 2rem 5rem;
  font-size: 2.5rem;
  box-shadow: inset 0px 0px 0rem 0.5rem rgb(221, 72, 72);
  background: rgb(199, 30, 30);
  color: white;
  cursor: pointer;
  position: relative;
  font-family: joystix;

  &__icon {
    position: absolute;
    display: inline-block;
    height: 75%;
    left: 2rem;
    top: 50%;
    transform: translateY(-50%);
  }

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

#pacman {
  box-shadow: inset 0px 0px 0rem 1.5rem rgb(59, 102, 202),
    0px -0.9rem 2.5rem rgba(0, 0, 0, 0.308);
  background: rgb(16, 72, 202);

  &:active {
    box-shadow: inset 0px 0px 0rem 1.5rem rgb(16, 72, 202),
      0px -0.9rem 2.5rem rgba(0, 0, 0, 0.308);
    background: rgb(59, 102, 202);
  }
}

#flappybird {
  box-shadow: inset 0px 0px 0rem 1.5rem rgb(221, 157, 72),
    0px -0.9rem 2.5rem rgba(0, 0, 0, 0.308);
  background: rgb(235, 131, 12);

  &:active {
  }
}

#spaceinvaders {
  box-shadow: inset 0px 0px 0rem 1.5rem rgb(221, 72, 72);
  background: rgb(199, 30, 30);

  &:active {
  }
}

#trex {
  box-shadow: inset 0px 0px 0rem 1.5rem rgb(28, 219, 124);
  background: rgb(4, 182, 93);

  &:active {
  }
}

.controls-container {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s linear,
    opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition-delay: 0.3s, 0s;
}

.back {
  outline: none;
  border: none;
  border-radius: 40px;
  padding: 2rem 5rem;
  font-size: 2.5rem;
  box-shadow: inset 0px 0px 0rem 0.5rem rgb(221, 72, 72);
  background: rgb(199, 30, 30);
  color: white;
  cursor: pointer;
  font-family: joystix;
  text-transform: uppercase;
  margin-left: 2rem;
  &--play {
    box-shadow: inset 0px 0px 0rem 0.5rem rgb(75, 224, 88);
    background: rgb(30, 199, 58);
  }
}

.show {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s, 0s;
}
