@media (max-width: 900px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 7.5px;
  }

  .signup {
    right: 50%;
    transform: translateX(50%);
    width: 90%;
    bottom: 2rem;
  }

  .controls-container {
    bottom: 8rem;
  }

  #trex {
    display: flex;
  }

  #spaceinvaders {
    display: none;
  }

  .game {
    // display: none;
    flex-direction: column;
    padding-top: 9rem;
    justify-content: center;
    &__card {
      width: 100%;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-basis: 20%;
      margin-top: 2rem;
      #pacmanimage {
        margin-right: 2rem;
      }
      > picture {
        flex-basis: 25%;
        height: auto;
        > img {
          display: inline-block;
        }
      }
      &--title {
        margin-top: 0;
      }
    }
  }
  .selectedCard {
    margin-top: 0;
    transition: transform 0.3s ease-in,
      top 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
}

@media (max-width: 361px) {
  html {
    font-size: 6.5px;
  }
}
