@font-face {
  font-family: "Gotham-Black";
  src: url("/fonts/gotham/Gotham-Black.otf");
}

@font-face {
  font-family: "Gotham-Bold";
  src: url("/fonts/gotham/Gotham-Bold.otf");
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/gotham/GothamBook.otf");
}

@font-face {
  font-family: "Gotham-Light";
  src: url("/fonts/gotham/Gotham-Light.otf");
}

@font-face {
  font-family: "Gotham-Thin";
  src: url("/fonts/gotham/Gotham-XLight.otf");
}
