body#post {
  background: url("/admin/byUnique/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
}
.post {
  &__header {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(190, 45, 45);
    color: white;
    font-size: 3.2rem;
    position: relative;
    z-index: 0;
    // > h1 {
    //   transform: translateY(-80%);
    //   max-width: 60%;
    //   text-align: center;
    //   @media (max-width: 600px) {
    //     max-width: 90%;
    //     transform: none;
    //   }
    // }
    // > h5 {
    //   text-align: right;
    //   padding-top:
    // }
    div {
      // margin: 0 auto;
      width: 90%;
      display: inline-block;
    }
    @media screen and (max-width: 768px) {
      h1 {
        margin: 0 auto;
        text-align: center;
        // font-size: 3rem;
      }
    }
    h1 {
      text-align: center;
    }
    h5 {
      text-align: right;
      padding-top: 1.5rem;
    }
    &__backdrop {
      position: absolute;
      z-index: -1;
      opacity: 0.15;
      width: 60%;
      height: auto;
      left: 0;
      bottom: 0;
      transform: translate(-100px, 20%);
      @media (max-width: 600px) {
        width: auto;
        height: 90%;
        transform: translate(-300px, 20%);
        display: none;
      }
    }
  }
  &__body {
    margin: 0 auto;
    margin-top: -9rem;
    width: 70%;
    padding: 8rem 9rem;
    box-shadow: 0rem 0rem 5.5rem rgba($color: #000000, $alpha: 0.18);
    background: #fafafa;
    border-radius: 0rem;
    position: relative;
    z-index: 2;
    color: #2f2f2f;
    @media (max-width: 600px) {
      width: 95%;
      padding: 5rem 6rem;
    }
  }
  &__heading {
    margin-bottom: 3rem;
    &--lg {
      font-size: 3.8rem;
    }
    &--md {
      font-size: 3rem;
    }
    &--sm {
      font-size: 2.5rem;
    }
  }
  &__text {
    font-size: 2rem;
    margin-bottom: 2rem;
    line-height: 1.6;
    &--light {
      color: #b9b8b8;
    }
  }
  &__image {
    display: block;
    width: 55%;
    margin: 4rem auto;
    @media (max-width: 600px) {
      width: 100%;
    }
  }
}
