@import "./layout";

input,
textarea {
  line-height: 1.6 !important;
}

#mob-reg {
  @media screen and (max-width: 800px) {
    margin-top: 10rem;
  }
}

.register-container {
  .modal {
    opacity: 0;
    visibility: hidden;
    z-index: 12;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: rgba(0, 0, 0, 0.9);
    transition: opacity 0.25s ease;
  }

  .modal__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }

  .modal-state {
    display: none;
  }

  .modal-state:checked+.modal {
    opacity: 1;
    visibility: visible;
  }

  .modal-state:checked+.modal .modal__inner {
    top: 0;
  }

  .modal__inner {
    transition: top 0.25s ease;
    position: absolute;
    top: -20%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    margin: auto;
    overflow: auto;
    background: #fff;
    border-radius: 5px;
    padding: 1em 2em;
    height: 90%;
  }

  .modal__close {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 12;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0;
  }

  .modal__close:after,
  .modal__close:before {
    content: "";
    position: absolute;
    width: 2px;
    margin: 5rem 0;
    height: 100%;
    background: #ccc;
    display: block;
    transform: rotate(45deg);
    left: 50%;
    margin: -3px 0 0 -1px;
    top: 0;
  }

  .modal__close:hover:after,
  .modal__close:hover:before {
    background: #aaa;
  }

  .modal__close:before {
    transform: rotate(-45deg);
  }

  @media screen and (max-width: 800px) {
    flex-direction: column;
  }

  &__underlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;

    h1 {
      margin-top: 8rem;
      font-size: 2rem;
      color: $color-primary;
      font-family: "Gotham-Bold";
      text-align: center;
      width: 100%;
      text-transform: uppercase;
    }

    form {
      margin: 3rem 0;
      padding: 0 3rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;

      @media screen and (max-width: 800px) {
        grid-template-columns: repeat(1, 1fr);
      }

      section {
        position: relative;
      }

      input {
        border: none;
        font-size: 2rem;
        font-family: "Gotham";
        padding: 2rem 1rem;
        border-bottom: 3px solid transparent;
        transition: 0.2s all;
        width: 100%;
        line-height: 3rem;
        background: transparent;

        &:focus {
          border-bottom: 3px solid $color-primary;
        }

        &::placeholder {
          transition: 0.2s all;
          line-height: 1.4;
          color: #777;
        }

        &:focus::placeholder {
          opacity: 0.5;
        }
      }

      label {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-10px);
        padding: 0 1rem;
        font-size: 1.5rem;
        font-family: "Gotham-Bold";
        opacity: 0.3;
      }
    }

    input[type="submit"] {
      background: transparent;
      grid-column: 1/-1;
      background: $color-secondary;
      width: 20rem;
      font-family: "Gotham-Black";
      font-size: 2rem;
      color: #fff;
      margin: 2rem auto;
      border-radius: 50px;
      border: 5px solid #fff;
      transition: 0.2s all;
      cursor: pointer;

      &:hover {
        background: transparent;
        border: 5px solid $color-secondary;
        color: #222;
      }
    }
  }

  &__black-section--underlay {
    h1 {
      color: #fff;
    }

    input {
      color: #fff;

      &::placeholder {
        color: #fff;
      }
    }

    input[type="submit"] {
      background: white;
      color: $color-primary;

      &:hover, &:focus {
        color: #fff;
        background: transparent;
        border: 5px solid $color-secondary;
      }
    }

    label {
      color: #fff;
    }
  }
}

#campusambassador {
  transform: translateY(1rem);

  @media screen and (max-width: 800px) {
    transform: translateY(0);
  }

  label {
    color: #fff;
    position: relative;
    font-family: "Gotham";
    font-size: 2rem;
    opacity: 1;
    flex: 0.9;
  }
}

#default-radio {
  display: none;

  &:checked+label #custom-radio::after {
    opacity: 1;
  }
}

#custom-radio {
  width: 25px;
  z-index: 1;
  height: 25px;
  border-radius: 100%;
  border: 5px solid $color-primary;
  // transform: translate(-5rem, -1rem);
  display: inline-block;
  transform: translate(3rem, 0.9rem);

  &::after {
    content: "";
    opacity: 0;
    position: absolute;
    width: 60%;
    height: 60%;
    background: $color-primary;
    border-radius: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.register-error {
  font-size: 2rem;
  padding-bottom: 4rem;
  font-family: "Gotham-Bold";
  text-align: center;
  color: $color-secondary;
  padding-bottom: 5rem;
}